@keyframes appear { 
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(90deg, rgba(125,128,123,1) 0%, rgba(85,207,203,1) 0%, rgba(68,84,87,1) 100%, rgba(25,36,38,1) 100%, rgba(56,75,79,1) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-to-be-done {
   background-color: transparent;
   padding: 50px 20px;
   border: none;
   border-radius: 5px;
   box-shadow: 0px 0px 15px #575757;
   margin-bottom: 50px;
   margin-top: 20px;
}

.task-to-be-done {
  width: 270px;
}

@media screen and (min-width: 450px) {
  .task-to-be-done {
    width: 390px;
  }
  #forUser, .comment-container #comment-input{
    width: 245px;
  }
  .comment-container h1 {
    display: flex;
    justify-content: center;
  }
}

.task-to-be-done input, #comment-input {
  background-color: transparent;
  color: #fff;
  padding: 8px 10px;
  width: 130px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #fff;
  outline: none;
  font-size: 18px;
}

.task-to-be-done input:active, .task-to-be-done input:focus, .comment-container #comment-input:active, .comment-container #comment-input:focus {
  border: 2px solid rgb(2, 201, 2);
}

.task-to-be-done input::placeholder {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.task-to-be-done button, .comment-container button, #remove-button, #edit-button {
  background: linear-gradient(90deg, rgba(125,128,123,1) 0%, rgba(85,207,203,1) 0%, rgba(68,84,87,1) 100%, rgba(25,36,38,1) 100%, rgba(56,75,79,1) 100%);
  color: #fff;
  padding: 8px 20px;
  margin-left: 30px;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.containers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.comment-container {
  background: transparent;
  width: auto;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 10px;
}

.comment-container h1 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}

.comments-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 2rem;
  font-style: italic;
  animation: appear 1s ease-in-out;
}

.comments-list span {
  cursor: pointer;
}

.comment-container {
  animation: appear 1s ease-in-out;
}

#remove-button {
  background: linear-gradient(90deg, rgba(125,128,123,1) 0%, rgba(255,0,0,1) 0%, rgba(107,84,98,1) 100%, rgba(165,85,114,1) 100%, rgba(68,84,87,1) 100%, rgba(25,36,38,1) 100%, rgba(255,0,0,1) 100%);
}

#edit-button {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
}

#span-el-for-buttons {
  display: flex;
}

.div-h1-position {
  position: relative;
  margin-bottom: 20px;
}

.div-h1-position #delete-button {
  background: rgb(199, 16, 16);
  color: #fff;
  position: absolute;
  top: -5px;
  right: -10px;
}

.animation-disappear {
  animation: disappear 1s ease-out;
}

.dark-mode {
  background: linear-gradient(90deg, rgba(125,128,123,1) 0%, rgba(52,61,61,1) 40%, rgba(25,36,38,1) 55%);
}

#dark-mode-icon {
  color: #fff;
  position: absolute;
  font-size: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


